<% @songs.each do |song| %>
  <ul>
    <li><%= song.title %></li>
    <li><%= song.length %></li>
    <li><%= song.play_count %></li>
    <% if song.playlist %>
      <li><%= song.playlist.name %></li>
    <% end %>
  </ul>
 <% end %>
