<form class="new-film" action="/films" method="post">
  Title: <p><input type="text" name="film[title]" value="Title"></p>
  Year: <p><input type="number" name="film[year]" value="Year"></p>
  Sales: <p><input type="number" name="film[box_office_sales]" value="Sales"></p>
  <input type="submit" value="Submit">
</form>
